body {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	margin-bottom: 60px;
}

#stickerCard1 {
	align-items: center;
	width: 32rem;
	flex-direction: column;
}

#skinInfo {
	text-align: right;
}

#footer {
	bottom: 0;
	flex: 0 0 50px;

	left: 0;
	position: fixed;
	width: 100%;
	margin-top: auto;
	box-sizing: border-box;
	display: table;
}

div {
	display: block;
}

#navLinks {
	align-items: center;
	width: 100%;
	text-align: center;
}
.pagination {
	justify-content: center;
}

.carousel-inner img {
	display: flex;
	margin: auto;
	align-items: center;
	justify-content: center;
}

#carouselA {
	max-width: 40rem;
	margin: bottom 5px;
}
